@page 

<div class="text-center bg-light border my-5">
    <div class="display-6 border-bottom">Contact</div>
    <div class="lead mt-5">
        <i class="fa-brands fa-github bg-secondary text-white p-3 rounded-5 my-3"></i>
        <a style="display: block; text-decoration: none;" href="https://github.com/furkananil" target="_blank">https://github.com/furkananil</a>  
    
        <i class="fa-solid fa-envelope bg-secondary text-white p-3 rounded-5 my-3"></i>
        <a style="display: block; text-decoration: none;" href="mailto:furkananil960@gmail.com" target="_blank">furkananil960@gmail.com</a>
    
        <i class="fa-brands fa-linkedin bg-secondary text-white p-3 rounded-5 my-3"></i>
        <a style="display: block; text-decoration: none;" href="https://tr.linkedin.com/in/furkan-anil-özdemir-b4a50128b" target="_blank">Here</a>
    
        <i class="fa-solid fa-earth-americas bg-secondary text-white p-3 rounded-5 my-3"></i>
        <a style="display: block; text-decoration: none;" href="http://furkan.000.pe" target="_blank" >My Another Website</a>
    </div>
</div>
