@page 

<div class="text-center border my-5 rounded">
    <div class="display-6">Contact</div>
    <div class="lead">
        <i class="fa-brands fa-github text-primary my-3"></i>
        <a style="display: block;" href="https://github.com/furkananil" target="_blank">https://github.com/furkananil</a>  
    </div>
    <div class="lead">
        <i class="fa-solid fa-envelope text-primary my-3"></i>
        <p>furkananil960@gmail.com</p> 
    </div>
    <div class="lead">
        <i class="fa-brands fa-linkedin text-primary my-3"></i>
        <a style="display: block;" href="https://tr.linkedin.com/in/furkan-anil-özdemir-b4a50128b" target="_blank">Here</a>
    </div>
    <div class="lead">
        <i class="fa-solid fa-earth-americas text-primary my-3"></i>
        <a style="display: block;" href="http://furkan.000.pe " target="_blank" >My Another Website</a>
    </div>
</div>
