<div class="bg-light border-top p-3">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="lead text-center ">
                    <i class="fa-solid fa-store text-secondary display-6"></i>
                    <br />
                    <bold>Furkan</bold> Store
                </div>
                <div class="text-muted text-center">
                    E-Commerce
                </div>
            </div>
            <div class="col-md-8">
                <div class="text-center text-muted my-3">
                    &copy; 2024 <br />Furkan Anil
                </div>

                <div class="text-center">
                    <div class="btn-group">
                        <a href="https://github.com/furkananil" class="btn btn-secondary">
                            <i class="fa-brands fa-github"></i>
                        </a>
                        <a href="https://tr.linkedin.com/in/furkan-anil-özdemir-b4a50128b" class="btn btn-secondary">
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                        <a href="mailto:furkananil960@gmail.com" class="btn btn-secondary">
                            <i class="fa-solid fa-envelope"></i>
                        </a>
                        <a href="https://discord.com/users/id/344381415019905024" class="btn btn-secondary">
                            <i class="fa-brands fa-discord"></i>
                        </a>
                    </div>
                </div>

            </div>
            <div class="col-md-2">
                <div products="" number="6"></div>
            </div>
        </div>
    </div>
</div>